body{font-family:calibri, arial;
  font-size:15px;
  padding:0px;
  margin:0px;
 
  }

h1{
  font-size:40px;
font-weight:normal;
  text-align:center;}

header{
  height:100px;
  background-image:url();
  }


footer{
 height:80px; 
 padding-top:30px;
 font-weight:bold;
 font-style:italic;
 text-align:center;
 background-color:#c5c5cc;
 border-top:2px solid #77b5ff; 
 color:black; 
}


nav{
  width:100%;
  background-color:#77b5ff;
}

nav ul{  
  padding:0px;
  margin:0px;
  }



nav li{
  list-style-type:none;
  float:left;
  }

nav a{
  display:inline-block;
  text-decoration: none;
  padding:20px 30px;
  color: #333;
  text-transform: uppercase; 
  font-size:15px;
  font-weight:bold;
  }


.table{
  display:table;
  margin:0 auto;}

.premier:hover{
  border-top: 5px solid #0000ff; 
  background-color: rgba(100,100, 200, 0.15);} 

.deux:hover{
  border-top: 5px solid #ffffff; 
  background-color: rgba(100,100, 100, 0.15);
}

.trois:hover{
   border-top: 5px solid #ff0000; 
  background-color: rgba(100,200, 100, 0.15);} 

.quatre:hover{
  border-top: 5px solid #ffffff; 
  background-color: rgba(200,100, 100, 0.15);
} 

.cinq:hover{
  border-top: 5px solid #0000ff; 
  background-color: rgba(100,100, 100, 0.15);
}


.six:hover{
   border-top: 5px solid #ff0000; 
  background-color: rgba(100,200, 100, 0.15);} 



nav li:hover a{
  color:blue;
  padding: 15px 30px 20px 30px;
}




.footballdroite{
	float:right;
	width:50%;
	
	}
	
.footballgauche{
	float:left;
	width:50%;
	}
	
	
.natationdroite{
	float:left;
	width:50%;
	}
.natationgauche{
	float:left;
	width:50%;
	}


	
	
.velodroite{
	float:left;
	width:50%;
	}

.velogauche{
	float:left;
	width:50%;
	}
	
.lecturedroite{
	float:left;
	width:50%;
	}
.lecturegauche{
	float:left;
	width:50%; 
	}



	



.divfootball{
	margin:10px 10%;
}

.divnatation{
	margin:10px 10%;	
}


.divvelo{
	margin:10px 10%;	
}

.divlecture{
	margin:10px 10%;
	padding-bottom: 500px;
}



	
	
	
.sectionfootball::after, .sectionnatation::after, .sectionlecture::after, .sectionvelo::after{
	content:"";
	display:table; 
	clear: both;
}


h2{
	color: Blue; 
	text-shadow: 1px 3px 2px red;
	
}










@media screen and (max-width:780px){
  header{
    height: 50px;
  }
  
  h1{
    font-size: 12px;
    margin: 20px 0px 0px 0px;}

  nav li a{
     font-size: 12px;
     padding: 10px;
  }
  
  nav li:hover a{
    padding: 5px 10px 10px 10px; 
  }



